@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.maxw-150p {
    max-width: 150px;
}

.maxw-sm {
    max-width: 768px;
}

.minw-xxs {
    min-width: 300px
}

.minw-0 {
    min-width: 0px;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden
}

.cursor-pointer {
    cursor: pointer
}

.fineprint {
    font-size: 0.8rem
}

.modal-dialog {
    margin-top: 35vh;
}

@include media-breakpoint-down(sm) {
    .hide-xs {
        display: none;
    }
}