<div class="card bg-white">
    <div class="card-body py-3 d-flex justify-content-center" (click)="openModal(modal)">
      <i class="fa fa-3x fa-plus text-primary"></i>
    </div>
</div>
<ng-template #modal>
  <div class="modal-body d-flex flex-column px-4 py-2">
    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close" (click)=modalRef.hide()>
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="name-alert" class="alert alert-danger mt-3" role="alert">Location not found.</div>
    <label for="new_location">City Name Only</label>
    <input #new_location type="username" class="form-control" id="new_location" (keydown.enter)="add_new_location(new_location.value)">
    <div class="d-flex">
      <button type="button" class="btn btn-primary mt-2 w-25 ml-auto my-2" (click)="add_new_location(new_location.value)">Save</button>
    </div>
  </div>
</ng-template>